@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$gray-color: rgb(0,0,0, 0.5);
$orage-color: #FB953E;
$black-color: black;
$dark-gray-color: #333333;
$light-gray-color:  #666666;
$lighter-gray-color: #c7c7c7;

$open-sans: "Open sans", sans-serif;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-xl: 22px;
$font-enormous: 32px;